DATABASE_URL=postgresql://neondb_owner:npg_h4FjcuKZv5JY@ep-solitary-mud-ax7wgokk-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=j4b9Ty2+dYf6gJDY5yXBEagwlsnDIPvvjkth3LN2CGQ=
ADMIN_EMAIL=sayrahulraj@gmail.com
R2_ACCOUNT_ID=90b35de5ee132b1c6a7362e9425ec0ce
R2_ACCESS_KEY_ID=a67483230de15490e91b52d47d31aeae
R2_SECRET_ACCESS_KEY=d3fd0b8276f080bc5b23a6ef042d17169813939b691a0b7b04e1e9cf7c585f69
R2_BUCKET_NAME=docaccess-app
R2_PUBLIC_URL=https://pub-1eb5bcffa1894e1783d421e34d765b18.r2.dev